
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
</head>
<body>
    <nav>
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'user_list' %}">Users</a>
        <a href="{% url 'received_interests' %}">Received Interests</a>
        <a href="{% url 'chat_list' %}">Chats</a>
        <a href="{% url 'logout' %}">Logout</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
